.card{
    width:  20rem;
    height: 40rem;
    background-color: black !important;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.card-subtext{
    color: white;
}
.card:hover{
    box-shadow: 5px 10px 20px 1px  !important;
    color: #03e9f4;
}

.card-body{
    padding: 3rem 3rem !important;
}
.card-title{
    color: white;
    font-family: "Garamond", serif;
}
.card-text{
    font-size: 1rem;
    color: white;
    padding: 0.4rem 1.9rem;
    text-transform: capitalize;
}

.container-fluid .row{
    padding-top: 6rem;
}

.a-link{
    padding-top: 1rem;
    font-size: 1.3rem;
    color: white;
    padding: 0.4rem 1.9rem;
    text-transform: capitalize;

}
.a-link:hover{
    color: #03e9f4
}
@media screen and (max-width: 765px){
    .card{
        margin-left: 25%;
        margin-right: 25%;
        width:50%;
    }
    .a-link{
        margin: -25px;
        font-size: 1rem;;
    }
    .card-title{
        font-size: 1.2rem;
    }
    .card-text{
        font-size: 1rem;
        color: white;
        padding: 0.4rem 1.9rem;
        text-transform: capitalize;
    }
}

@media screen and (max-width: 1000px) and (min-width: 765px){
    .card{
        width: 15rem;
        height: 30rem;
    }
    .card-title{
        color: white;
        font-family: "Garamond", serif;
        font-size:17px;
    }
    .card-text{
        font-size: 0.8rem;
        color: white;
        padding: 0.4rem 1.9rem;
        text-transform: capitalize;
    }
    .a-link{
        font-size: 0.9rem;
        margin: -25px;
    }
}