.wrapper{
    width: 100%;
    padding: 78px 10%;
}
.kit-image{
    HEIGHT: AUTO;
    WIDTH: 35%;
    border-radius: 25%;
}

.text{
    width: 50%
}

.main{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

.kit-title{
    color: white;
    text-align: start;
    font-size: 2rem;
}
.kit-text{
    color: white;
    text-align: start;
    margin-top: 10%;
    margin-bottom: 10%;
}

.kit-button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.kit-button:hover,
.kit-button:active {
  outline: 0;
}

.kit-button:hover {
  background-color: transparent;
  cursor: pointer;
}

.kit-button:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.kit-button:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .kit-button {
    padding: 16px 32px;
  }
}